
<div class="w-full h-full mx-auto max-w-screen-xl pt-4">
  <div class="h-[30%] w-full flex flex-row justify-between">
    <div class="justify-self-start w-52 h-52">
      <img [ngSrc]="'/assets/logov2bn-sia.png'" height="64" width="135" class="h-16" alt="logo-sia">
    </div>
    <div class="justify-self-end">
      <img [ngSrc]="'/assets/logobn-senamhi.png'" height="64" width="120" class="h-16" alt="logo-senamhi">
    </div>
  </div>
  <div class="h-full">
    <!-- titulo -->
     <app-title title="{{title}}" subtitle="{{subtitle}}"></app-title>
  </div>
</div>
