@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Font Bold for Label in Modal */
.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  font-weight: bolder !important;
}
